<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StorageBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="StorageBox" connectionString="Server=DELLCOREI7\SQLEXPRESS;Database=StorageBox;User ID=StorageBoxUsr;Password=20386;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <StorageBox.Properties.Settings>
      <setting name="StorageLocation" serializeAs="String">
        <value>D:\StorageBox\Application</value>
      </setting>
    </StorageBox.Properties.Settings>
  </applicationSettings>
</configuration>